.heading-primary {
  color: $color-white;
  &--main {
    font-size: 6rem;
    font-weight: 500;
  }
  &--sub {
    font-weight: 500;
    font-size: 4.4rem;
    letter-spacing: -2px;
  }
}

.paragraph {
  color: $color-white;
  font-size: 1.7rem;
  font-weight: 400;
}
