.vertical-center-col {
  align-self: center;
}

.u-width-100 {
  width: 100% !important;
}

.u-gap-medium {
  gap: 2rem !important;
}

.u-between {
  justify-content: space-between !important;
}

.u-marginBottom-medium {
  margin-bottom: 5rem !important;
}
.u-marginBottom-big {
  margin-bottom: 6.4rem !important;
}
