*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #212529;
  font-size: 62.5%;
  padding: 5vh 4rem;
}
@media only screen and (max-width: 800px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 580px) {
  html {
    padding: 0rem;
  }
}

body {
  font-family: "Fira Code", monospace;
  background-color: #343a40;
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.6;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.content-wrapper {
  position: relative;
  overflow: hidden;
}

.heading-primary {
  color: #fff;
}
.heading-primary--main {
  font-size: 6rem;
  font-weight: 500;
}
.heading-primary--sub {
  font-weight: 500;
  font-size: 4.4rem;
  letter-spacing: -2px;
}

.paragraph {
  color: #fff;
  font-size: 1.7rem;
  font-weight: 400;
}

.vertical-center-col {
  align-self: center;
}

.u-width-100 {
  width: 100% !important;
}

.u-gap-medium {
  gap: 2rem !important;
}

.u-between {
  justify-content: space-between !important;
}

.u-marginBottom-medium {
  margin-bottom: 5rem !important;
}

.u-marginBottom-big {
  margin-bottom: 6.4rem !important;
}

.header {
  color: #66717c;
}
.header__main {
  background-color: #212529;
}
.header__main-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  z-index: 10;
  font-weight: 500;
  font-size: 1.8rem;
}
@media screen and (max-width: 580px) {
  .header__main-nav {
    flex-direction: column;
  }
}
.header__main-nav::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-top: 2px solid #adb5bd;
  border-bottom: 2px solid #adb5bd;
  height: 100%;
  z-index: -1;
}
.header__main-nav__link {
  border-top: 2px solid transparent;
  border-right: 2px solid #adb5bd;
  padding: 1rem 6rem;
  color: inherit;
}
@media screen and (max-width: 580px) {
  .header__main-nav__link {
    width: 100%;
    text-align: center;
    border-right: none;
  }
}
.header__main-nav__link-active {
  border-top: 2px solid #ff8787;
  color: #ffd43b;
  background-color: #343a40;
  z-index: 100;
}
.header__mini {
  display: flex;
  align-items: center;
  padding: 1rem 0px 1rem 1rem;
}
.header__mini--cercle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.header__mini--cercles {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.header__mini--cercles-red {
  background-color: #ff8787;
}
.header__mini--cercles-green {
  background-color: #69db7c;
}
.header__mini--cercles-yellow {
  background-color: #ffd43b;
}
.header__mini p {
  width: 100%;
  text-align: center;
}
.header__bottom {
  padding: 1rem 0px;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.2);
}

.row {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}
@media only screen and (max-width: 1300px) {
  .row {
    padding: 0 2rem;
  }
}
@media only screen and (max-width: 1300px) and (max-width: 1000px) {
  .row {
    flex-direction: column;
  }
  .row * {
    width: 100%;
  }
}

.row-two-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px 48px;
}
@media only screen and (max-width: 1050px) {
  .row-two-cols {
    grid-template-columns: 1fr;
  }
}

.col-1 {
  flex: 0 0 8.3333333333%;
}

.col-offset-1 {
  margin-left: 8.3333333333%;
}

.col-2 {
  flex: 0 0 16.6666666667%;
}

.col-offset-2 {
  margin-left: 16.6666666667%;
}

.col-3 {
  flex: 0 0 25%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-4 {
  flex: 0 0 33.3333333333%;
}

.col-offset-4 {
  margin-left: 33.3333333333%;
}

.col-5 {
  flex: 0 0 41.6666666667%;
}

.col-offset-5 {
  margin-left: 41.6666666667%;
}

.col-6 {
  flex: 0 0 50%;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-7 {
  flex: 0 0 58.3333333333%;
}

.col-offset-7 {
  margin-left: 58.3333333333%;
}

.col-8 {
  flex: 0 0 66.6666666667%;
}

.col-offset-8 {
  margin-left: 66.6666666667%;
}

.col-9 {
  flex: 0 0 75%;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-10 {
  flex: 0 0 83.3333333333%;
}

.col-offset-10 {
  margin-left: 83.3333333333%;
}

.col-11 {
  flex: 0 0 91.6666666667%;
}

.col-offset-11 {
  margin-left: 91.6666666667%;
}

.col-12 {
  flex: 0 0 100%;
}

.col-offset-12 {
  margin-left: 100%;
}

.screen {
  min-height: 70vh;
  align-items: center;
  display: flex;
  padding: 5rem 0rem;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: #757d85;
  z-index: 1;
}
.footer::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  border-top: 2px solid #adb5bd;
  height: 100%;
  z-index: -1;
  top: 0;
}
.footer__nav {
  display: flex;
  align-items: center;
}
.footer__nav li {
  padding: 1rem 2rem;
  border-right: 2px solid #adb5bd;
}
.footer__nav-nav__link {
  font-weight: bold;
  color: inherit;
}
.footer p {
  font-weight: bold;
}

.sideNav {
  padding: 1rem 2rem;
  position: absolute;
  background-color: #212529;
  width: 30%;
  height: 100%;
  right: 0;
  top: 0;
  border-top: 2px solid #adb5bd;
  border-right: 2px solid #adb5bd;
  border-left: 2px solid #adb5bd;
  color: #66717c;
  z-index: 100;
  transition: all 0.3s;
}
@media screen and (max-width: 1165px) {
  .sideNav {
    left: 0;
    height: 150px;
    width: 100%;
    top: 80px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border: none;
  }
}
@media screen and (max-width: 600px) {
  .sideNav {
    top: 140px;
  }
}
.sideNav__heading {
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 12px;
}
.sideNav__nav-item {
  font-size: 1.8rem;
  cursor: pointer;
}
.sideNav__nav-item i {
  display: inline-block;
  transition: all 0.3s;
}
.sideNav__nav-item--1 {
  color: #ff8787;
}
.sideNav__nav-item--2 {
  color: #69db7c;
}
.sideNav__nav-item--3 {
  color: #ffd43b;
}
.sideNav__nav-item__nav {
  opacity: 0;
  transform: translateY(-2rem);
  height: 0px;
  margin-left: 4rem;
  transition: all 0.3s;
}

.card {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr -webkit-max-content;
  grid-template-rows: 1fr max-content;
}
.card__body {
  border-radius: 8px;
  border: 2px solid #adb5bd;
  padding: 1.6rem;
}
.card__body--heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
}
.card__body--heading h5 {
  font-weight: 500;
  text-align: left;
  color: #ffd43b;
}
.card__body--heading p {
  text-align: right;
  color: #777;
}
.card__body--main {
  background-color: #212529;
  border-radius: 8px;
  border: 2px solid #adb5bd;
  padding: 1.6rem 0rem;
}
.card__body--main-content {
  padding: 2.4rem 1.9rem 2.4rem 2.4rem;
  font-size: 1.8rem;
  line-height: 1.7;
}
.card__body--main-footer {
  margin-bottom: 2.4rem;
  background-color: #fcc419;
  color: #000;
}
.card__body--main-footer a {
  color: inherit;
  margin-left: 2.4rem;
  text-transform: uppercase;
}
.card__body--main-footer:hover {
  background-color: #ffd43b;
}
.card__description {
  padding: 3.2rem 0rem;
}
.card__description a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.card__description p {
  font-size: 1.4rem;
  line-height: 1.7;
  margin-bottom: 1.6rem;
  color: #777;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  color: #f7f7f7;
  border: 2px solid #adb5bd;
  padding: 1.2rem 2.4rem;
  font-size: 1.4rem;
  border-radius: 3rem;
  transition: all 0.3s;
  display: inline-block;
  position: relative;
  background: transparent;
  overflow: hidden;
  z-index: 1;
}
.btn:link:hover,
.btn:visited:hover {
  transform: translateY(-0.4rem);
  border: 2px solid transparent;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.4);
  color: black;
}
.btn:link:active,
.btn:visited:active {
  transform: translateY(0rem);
  box-shadow: none;
}
.btn:link::before,
.btn:visited::before {
  content: "";
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 200%;
  top: 0;
  left: -10px;
  background: #fcc419;
  transform: scaleX(0) skew(60deg);
  transform-origin: right;
  transition: transform ease-in-out 0.5s;
}
.btn:link:hover::before,
.btn:visited:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.hello__screen {
  overflow: hidden;
}
.hello__screen--text p {
  font-size: 2.4rem;
  font-weight: 500;
  color: #fcc419;
}
.hello__screen--text h1 {
  font-size: 9.6rem;
  color: white;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: -4px;
}
.hello__screen--text h3 {
  margin-top: -1.6rem;
  font-size: 3.2rem;
  font-weight: 600;
  color: #69db7c;
  text-shadow: 0px 0px 1rem rgba(105, 219, 124, 0.5);
}
.hello__screen--slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
  position: relative;
}
.hello__screen--slider .card__body {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about {
  width: 100%;
}
@media screen and (max-width: 1165px) {
  .about {
    padding-top: 200px;
  }
}
@media screen and (max-width: 1165px) {
  .about__col {
    flex: 0 0 80% !important;
  }
}
.about__numbers {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2rem 0rem;
  position: relative;
  color: #66717c;
  margin-right: 6rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (max-width: 1165px) {
  .about__numbers {
    display: none;
  }
}
.about__numbers::after {
  content: "";
  position: absolute;
  height: 100%;
  right: 0px;
  margin-right: -20px;
  top: 0;
  width: 2px;
  background-color: #adb5bd;
}
.about__numbers--number {
  margin: 2px 0px;
  font-weight: 500;
}
.about__text--description {
  margin: 2px 2rem;
  position: relative;
  font-size: 1.8rem;
  line-height: 1.6;
}
.about__text--description::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: #adb5bd;
  left: -2rem;
  top: 0;
}

.hide {
  display: inline-block;
  transform: rotate(0deg) !important;
  transition: all 0.3s;
}

.show .fa-chevron-right {
  display: inline-block;
  transform: rotate(90deg) !important;
  transition: all 0.3s;
}
.show .fa-chevron-right ~ .sideNav__nav-item__nav {
  opacity: 1;
  height: 100%;
  transform: translateY(0rem);
}/*# sourceMappingURL=style.css.map */