//colors
$color-primary-dark: #010409;
$color-primary-light: #0d1117;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

//icons-colors
$color-red-1: #bf616a;
$color-green-1: #a3be8c;
$color-yellow-1: #bc9544;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$border-color: #757d85;

//layout
$columns: 12;

$gutter-vertical: 4rem;
$gutter-horizontal: 4rem;

//fonts
$default-font-size: 1.6rem;
